body {
    height: 100vh; /* 높이의 전체 비율을 100%로 설정 */
    background: linear-gradient(lightpink, #FFF); /* 바탕색 핑크 그라데이션 */
}

#loginDiv {
    text-align: center; /* 중앙 정렬 */
}

.hidden {
    display: none; /* 안보이게 하기 */
}

h1 {
    font-family: fantasy; /* 폰트 지정 */
}

#loginH2 {
    font-family: 'Nanum Pen Script', cursive;
}

#input1 {
    border-radius: 7px;
    border: 1px solid #ffdce2;
}

/* placeholder 폰트 변경 */
input::placeholder {
    font-style: italic;
}

#input2 {
    border-radius: 7px;
    border: 1px solid #ffdce2;
    background-color: #ffdce2;
}

.container {
    height: 600px;
    display: flex;
    flex-direction: row; /* 기본값: 왼쪽 -> 오른쪽 */
    align-items: stretch; /* 수직 정렬 */

}

.item {
    text-align: center;
    border: gray 1px solid;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    flex-grow: 1; /* item 길이 container 에 맞게 늘리기 */
}

#clock {
    margin-bottom: 20px;
}

#toDo {
    border-radius: 7px;
    border: 1px solid pink;
}

#toDoButton {
    border-radius: 7px;
    border: 1px solid pink;
    background-color: #ffdce2;
}

.toDoLi {
    padding-bottom: 20px;
}

.toDoLiButton {
    margin-left: 10px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid pink;
}



